<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rearrangement</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <script src="lib/d3.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/chosen.jquery.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/underscore-min.js"></script>

</head>

<body>
    <div id=top_div class="outer-div">
        <div id="view1" class="block-div">

        </div>
    </div>
    <div id=bottom_div>
        <div id="bottom_left_div" class="outer-div">
            <div id="view2" class="block-div">

            </div>
        </div>
        <div id="bottom_right_div" class="outer-div">
            <div id="view3" class="block-div">

            </div>
        </div>
    </div>
    <!-- <script src="/javascripts/initial.js"></script> -->

</body>

</html>